<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    const {ipcRenderer} = require('electron')
    ipcRenderer.on('asynchronous-reply', (event, arg) => {
      console.log(arg) // prints "pong"
    })
    ipcRenderer.send('asynchronous-message', 'ping')
  </script>
  
</head>
<body>
<div class="container">
  <h1>Quick Service</h1>
  <h2>Klienci</h2>
  <div class="table-responsive">
    <table class="table table-hover" id="clients">
      <thead>
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Nr telefonu</th>
          <th>Marka samochodu</th>
          <th>Model</th>
          <th>Rocznik</th>
          <th>Silnik</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>123123123</td>
          <td>Ford</td>
          <td>Mondeo</td>
          <td>1999</td>
          <td>2.0 Diesel</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>123123123</td>
          <td>Ford</td>
          <td>Mondeo</td>
          <td>1999</td>
          <td>2.0 Diesel</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>123123123</td>
          <td>Ford</td>
          <td>Mondeo</td>
          <td>1999</td>
          <td>2.0 Diesel</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>