<!DOCTYPE html>
<html lang="en">
  <div class="table-responsive panel-body" style="text-align : left" id="car-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="6">Dane ogólne</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Nr rejestracyjny</th>
          <th>Telefon</th>
          <th>VIN</th>
          <th>Marka</th>
          <th>Model</th>
          <th>Rok produkcji</th>
        </tr>
        <tr>
          <td id="regNum">MASK</td>
          <td id="phone">MASK</td>
          <td id="VIN">MASK</td>
          <td id="brand">MASK</td>
          <td id="model">MASK</td>
          <td id="yearOfProd">MASK</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="4">Silnik</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Pojemność</th>
          <th colspan="2">Moc</th>
          <th>Paliwo</th>
        </tr>
        <tr>
          <td id="engineCapacity">MASK</td>
          <td id="horsepower">MASK</td>
          <td id="kW">MASK</td>
          <td id="fuel">MASK</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="4">Filtry</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Powietrza</th>
          <th>Oleju</th>
          <th>Paliwa</th>
          <th>Kabinowy</th>
        </tr>
        <tr>
          <td id="airFilter">MASK</td>
          <td id="oilFilter">MASK</td>
          <td id="fuelFilter">MASK</td><!--TODO the same id as engine.fuel -->
          <td id="cabinFilter">MASK</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Olej</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Pojemność</th>
          <th>Zastosowany</th>
        </tr>
        <tr>
          <td id="oilCapacity">MASK</td>
          <td id="usedBefore">MASK</td>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer">
      <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary">Historia usług</button>
        <button type="button" class="btn btn-primary">Dodaj usługę</button>
      </div>
    </div>
  </div>
</html>