<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    let utils = require('../index.js')

    utils.prepareDBConnection()

    document.addEventListener('DOMContentLoaded', function(event) {
      console.log('DOM has been loaded')
      utils.prepareCloseButton()
    })
  </script>
  
</head>
<body>
<button class="close-button">close</button>
<div class="container">
  <h1>Quick Service</h1>
  <form class="form-inline">
    <div class="form-group">
      <label for="regNum">Numer rejestracyjny:</label>
      <input type="regNum" class="form-control" id="regNum">
    </div>
    <button type="submitRegNum" class="btn btn-default search-button">Szukaj</button>
  </form>
  
  <div class="table-responsive">
    <table class="table table-hover" id="car">
      <thead>
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Nr telefonu</th>
          <th>Marka samochodu</th>
          <th>Model</th>
          <th>Rocznik</th>
          <th>Silnik</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>123123123</td>
          <td>Ford</td>
          <td>Mondeo</td>
          <td>1999</td>
          <td>2.0 Diesel</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>123123123</td>
          <td>Ford</td>
          <td>Mondeo</td>
          <td>1999</td>
          <td>2.0 Diesel</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>123123123</td>
          <td>Ford</td>
          <td>Mondeo</td>
          <td>1999</td>
          <td>2.0 Diesel</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>