<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="import" href="./car-table.html">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    let utils = require('../index.js')

    utils.prepareDBConnection()

    document.addEventListener('DOMContentLoaded', function(event) {
      console.log('DOM has been loaded')
      
      utils.prepareCloseButton()
      utils.prepareSearchButton()
      
    })
  </script>
  
</head>
<body>
<button class="close-button">close</button>
<div class="container panel panel-default">
  <div class="panel-heading">
    <h1>Quick Service</h1>
    <form class="form-inline">
      <div class="form-group">
        <label for="regNum">Numer rejestracyjny:</label>
        <input type="regNum" class="form-control" id="regNumSearch">
      </div>
      <button type="submitRegNum" class="btn btn-default search-button">Szukaj</button>
    </form>
  </div>
</div>
</body>
</html>